# Database
DATABASE_URL="postgresql://user:password@host:5432/database?sslmode=require"

# NextAuth.js
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key-here-generate-with-openssl-rand-base64-32"

# ImageKit
NEXT_PUBLIC_IMAGEKIT_PUBLIC_KEY=public_ZYZEr5whB37/j8WYRWAPa2OQVVE=
IMAGEKIT_PRIVATE_KEY=private_v5s1cwXPJhBTSNNX/ytHswKCgJ4=
NEXT_PUBLIC_IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/tfc/

# Auction Encryption
AUCTION_ENCRYPTION_KEY="your-64-character-hex-key-here-generate-with-node-crypto-randomBytes-32-toString-hex"
